@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../background-image/pexels-mike-sember-6043246.jpg);
    background-position: center;
    background-size: cover;
  }

  .divTop{
    margin-top: 20%;
  }

  .btn{
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 200%;
    cursor: pointer;
  }

  .divQuote{
    background-color: rgba(128, 128, 128, 0.5);
    text-align: center;
    color: white;
    width: 50vw;
    padding: 2%;
    font-family: 'Fredoka One', cursive;
  }